* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/banner-bg.png");
  font-family: "Poppins" sans-serif;
}

/* Start Navbar */
.navbar {
  backdrop-filter: blur(30px);
}
.nav-link {
  position: relative;
  display: inline-block;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #fff;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

/* End Navbar*/

/* Start Home */
.home {
  margin-left: 8rem;
  flex-wrap: wrap;
  min-height: 800px;
}
.home .content {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}

/* Start Image */
.home .image {
  flex: 1 1 40rem;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.home .image img {
  width: 60%;
  margin-left: 4rem;
  border-radius: 20%;
  cursor: pointer;
  filter: grayscale(1);
  transition: 1s;
}

.home .image img:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}
/* End Image */

.home .content h2 {
  font-size: 50px;
}
.home .btn {
  line-height: 0;
  padding: 18px 16px;
  transition: 0.5s;
  color: #f26b0f;
  background: #fff;
  box-shadow: 0px 5px 18px #030b44;
}

.home .btn:hover {
  background: #f26b0f;
  color: #fff;
  box-shadow: 0px 5px 18px #fff;
}

/* Start Social Icon */
.social {
  margin-top: 90px;
}
.social .social-icon {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social .social-icon li {
  display: inline-block;
  margin-bottom: 14px;
}
.social-icon a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border: 1px solid;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icon a:active,
.social-icon a:focus,
.social-icon a:hover {
  color: #fff;
  background-color: #fff;
}
.social-icon a.github:hover {
  background-color: #fff;
  color: #f26b0f;
}

.social-icon a.linkedin:hover {
  background-color: #fff;
  color: #f26b0f;
}

.social-icon a.instagram:hover {
  background-color: #fff;
  color: #f26b0f;
}
/* End Social Icon */

@media (max-width: 450px) {
  .home {
    margin-left: 20px;
  }
  .home .btn {
    margin: 10px 0;
  }
  .social {
    margin-top: 100px;
  }
  .home .content p span {
    font-size: 2.2rem;
  }

  .prject > .container > .row > .col {
    justify-content: center;
  }
}
/* End Home */

/* Start Education */
.row {
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.col h2 {
  color: #ec8305;
  padding: 0px 0px 20px 30px;
}
.col .contents {
  padding: 0px 30px;
  border-left: 2px solid #fff;
}

.col .contents .box {
  position: relative;
  padding: 20px;
  border: 1px solid #0d54d8;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
}

.col .contents .box:hover {
  box-shadow: 0px 5px 15px 0px #0d54d8;
  border: 1px solid transparent;
}

.col .contents .box::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 24px);
  top: 0;
  background-color: #fff;
  border: 2px solid white;
}

.box h4 {
  position: relative;
  color: #0d54d8;
}

.box h3 {
  font-size: 19px;
  padding: 10px 0px 6px;
  color: #444;
}

.box p {
  line-height: 1.2;
  color: #000;
  font-size: 17px;
}

@media (max-width: 800px) {
  .row {
    grid-template-columns: 1fr;
  }

  .row .col:nth-child(2) {
    margin-top: 30px;
  }
}
/* End Education */

/* Start Project */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 0 8px 16px #0d54d8;
}
/* End Project */

/* Start Form Contact */
.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.contact-left-title h2 {
  font-weight: 600;
  color: #ec8305;
  font-size: 40px;
  margin-bottom: 5px;
}
.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #ec8305;
  border-radius: 18px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #000;
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 2px solid #ec8305;
}
.contact-inputs::placeholder {
  color: #ccc;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: 1px solid #fff;
  border-radius: 50px;
  box-shadow: 0px 5px 18px #6685be;
  background: #ec8305;
  transition: 0.3s;
}

.contact-left button:hover {
  background: linear-gradient(270deg, #0d54d8, #f26b0f);
  box-shadow: 0px 5px 18px #fff;
  border: 1px solid #0d54d8;
  transition: 1s;
}

@media (max-width: 800px) {
  .contact-inputs {
    width: 80vw;
  }
}
/* End Form Contact */

/* Start Footer */
.footer .container .row .col > ul > li > a {
  color: #fff;
  transition: all 0s;
}

.footer .container .row .col > ul > li > a:hover {
  color: #ec8305;
  transition: 0.4s;
}

hr {
  color: #fff;
}
/* End Footer */
